#puzzle { padding:5px; margin:auto; border:1px solid #aaa; border-radius:5px; background-color:#eee; }
#puzzle figure { width:300px; height:240px; border:1px solid #aaa; position:relative; float:left; background-color:#fff; }
#ui { width:200px; padding:10px 0 0 10px; float:left; }
#ui button { margin-bottom:2em; }
#ui p { font-size:1.7em; }
#start { width:204px; height:50px; font-size:1.75em; }